@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url('./images/cloudy-weather.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}
.title__cities {
  border: none;
  background-color: transparent;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  color: #fff;
}
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* height: 100vh; */
  height: 100%;
}
.main__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5rem;
  padding-top: 3rem;
  gap: 0rem;
}

.header__title {
  font-weight: 400;
  font-size: 1.7rem;
}

.weather__header-temporty {
  font-size: 10rem;
}
.weather__header {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
.weather__type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.weather__type img {
  width: 60px;
}
.weather__city {
  font-size: 4rem;
}
.weather__date {
  font-size: 1.6rem;
  font-weight: 500;
}
.weather__title--type {
  font-size: 1.4rem;
}

.main__right {
  background: linear-gradient(
    359.94deg,
    rgba(0, 0, 0, 0.1) 5.09%,
    #191a15 20.6%,
    rgba(12, 12, 10, 0.1) 38.53%,
    rgba(0, 0, 0, 0.1) 54.26%,
    rgba(0, 0, 0, 0.1) 99.96%
  );
  backdrop-filter: blur(5px);
}
.form__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}

.img__icon {
  width: 30px;
}
.form__button {
  border: none;
  background-color: transparent;
  right: 0;
  top: 0;
}
.input__text {
  background-color: transparent;
  border: none;
  color: #ffff;
  border: none;
  position: relative;
  font-size: 2rem;
}
.input__text::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #ffff;
  outline: none;
  font-size: 1.5rem;
}

.input__text:focus {
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.form__button {
  cursor: pointer;
}
.form__input {
  border-bottom: 1px solid #fff;
}
.main__right {
  padding-left: 3rem;
  padding-right: 3rem;
}
.title__cities {
  font-weight: 200;
  font-size: 1.7rem;
}
.weather__Cities {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 8rem;
  border-bottom: 1px solid #fff;
}
.wetaher__detail-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wetaher__detail-information:not(:last-child) {
  margin-bottom: 2rem;
}
.weather__deatail {
  padding-top: 2rem;
}
.weather__deatail-title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.weather__detail-info {
  font-size: 1.6rem;
  font-weight: 200;
}
.weather__detail-info--percentage {
  font-size: 1.3rem;
  font-weight: 200;
}
.waether__week img {
  width: 30px;
}
.waether__week {
  padding-bottom: 4rem;
  padding-top: 3rem;
}
.weather__week-info {
  display: flex;
  align-items: center;

  gap: 20px;
}
.waether__week {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.day {
  font-size: 1.4rem;
}
.weather__temp {
  font-size: 1.3rem;
}
.weather__temp__minmax {
  display: flex;
  gap: 10px;
}

.waether__week {
  display: flex;
}

.day {
  font-size: 1.7rem;
}
.weather__temp-max {
  font-weight: 700;
  font-size: 1.5rem;
}
.weather__temp-min {
  font-size: 1.5rem;
}

.waether__week {
  display: flex;
}
/* media queris */
@media (max-width: 1024px) {
  body {
    height: 100%;
  }
  html {
    font-size: 56.25%;
  }
  .weather__header {
    align-items: center;
    justify-content: center;
  }
  .weather__week-info {
    align-items: center;
    justify-content: center;
  }

  .main {
    grid-template-columns: 1fr;
    /* height: 100vh; */
  }
  .main__left {
    flex-direction: column;
    justify-content: space-around;
    gap: 0rem;
  }

  .weather__type {
    display: block;
  }
  .weather__week-info {
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
    
  }
  body{
    /* height: 100%;
    width: 100%; */
    background-repeat: no-repeat;
  }


  body {
    
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
  }

  .weather__header-temporty {
    font-size: 5rem;
  }
  .weather__city {
    font-size: 3rem;
  }
  .weather__type .img__weather {
    width: 50%;
  }
  .weather__header {
    max-width: 700px;
    margin: 2rem 2rem;
  }
  .main__left {
    padding-left: 1rem;
  }
  .header__title {
    padding-left: 3rem;
    margin-bottom: 2rem;
  }
  .weather__week-info {
    gap: 12px;
    max-width: 400px;
    margin: 0 auto;
  }

  .day {
    font-size: 1.8rem;
  }
  .waether__week .img__weather-week {
    width: 50%;
  }
  .weather__temp-max {
    font-size: 1.4rem;
  }
  .weather__temp-min {
    font-size: 1.4rem;
  }
  .weather__temp__minmax {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .main__right {
    padding-bottom: 3rem;
  }
  .input__text::placeholder {
    font-size: 2rem;
  }
  .title__cities {
    font-size: 2rem;
  }
  .weather__deatail-title {
    font-size: 2rem;
  }
  .weather__detail-info {
    font-size: 1.9rem;
  }
  .weather__detail-info--percentage {
    font-size: 1.7rem;
  }
}
